
.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #a989eb 0%, #662eaf 100%);
  width: 100%;
  border-radius: 5px;
}


/*@media (max-width: 768px) {*/
/*  .time-value {*/
/*    font-size: 2.5rem;*/
/*    min-width: 80px;*/
/*    padding: 0.75rem 1rem;*/
/*  }*/

/*  .separator {*/
/*    font-size: 2rem;*/
/*  }*/

/*  .progress-bar {*/
/*    width: 90%;*/
/*  }*/

/*  h2 {*/
/*    font-size: 1.5rem;*/
/*  }*/
/*}*/
